* {
    box-sizing: border-box;
}

body {
    background-color:#342d52;
    color: #c9b1df;
}

@media screen and (max-width: 500px) {
    /* any screen resolution from 0 to 499 wide */
    body {
        background-color: #c9b1df;
        color: #342d52;
    }
}

@media screen and (max-width: 400px) {
    /* you can add more than one "and," like max-width and landscape */
    body {
        background-color: #1c182b;
        color: #c9b1df;
    }   
}